# Ignorar arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos gerados pela linguagem de programação
frontend/node_modules
backend/node_modules

npm-debug.log
yarn-error.log

# Ignorar arquivos de configuração
.env

