body{
    background-color: #404040;
    
}

.btn-submit{
    background-color: #073bd9;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: #f2f2f2;
    font-weight: bold;
}

.erro{
    background-color: rgb(245, 151, 151);
    color: #0d0d0d;
    padding: 20px;
    border-radius: 5px;
}
